{% extends "base.html" %} {% load static %} {% block content %}

<section class="section-content py-5" style="min-height: 84vh">
  <div class="container">
    <div class="card mx-auto shadow-sm" style="max-width: 380px">
      <div class="card-body p-4">
        <h4 class="card-title mb-4 text-center">Sign in</h4>

        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}

          <!-- Email -->
          <div class="mb-3">
            <input
              type="email"
              class="form-control"
              placeholder="Email Address"
              name="email"
              required
            />
          </div>

          <!-- Password -->
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              name="password"
              required
            />
          </div>

          <!-- Submit -->
          <div class="d-flex justify-content-center mt-3">
            <button type="submit" class="btn btn-primary w-75 w-md-50">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>

    <p class="text-center mt-4">
      Don't have an account?
      <a href="{% url 'register' %}">Sign up</a>
    </p>
  </div>
</section>

{% endblock %}
