<footer class="section-footer border-top py-3 mt-auto">
  <div class="container">
    <div class="row text-muted text-center text-md-start gy-2">
      <!-- left part -->
      <div class="col-12 col-md-2">
        <p class="mb-0">&copy; 2026 WebMart</p>
      </div>

      <!-- Center -->
      <div class="col-12 col-md-8 text-center">
        <span class="px-2 d-block d-md-inline">info@WebMart.com</span>
        <span class="px-2 d-block d-md-inline">+44 123456789</span>
      </div>

      <!-- Right -->
      <div class="col-12 col-md-2 text-md-end text-center">
        <span class="px-2 d-block d-md-inline">Abc Street 123, London</span>
      </div>
    </div>
  </div>
</footer>
